<section class="registro-producto">
<div class="wrapper">
    <div class="section-registro">
        <div class="header-registro">
            <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
            <span *ngIf="!editar" class="title">Registrar producto</span>
            <span *ngIf="editar" class="title">Actualizar producto</span>
            <mat-icon class="icon-forward">arrow_forward</mat-icon>
        </div>
        <div class="body-registro">
            <div class="image-otaku">
                <img src="/assets/images/rei.jpg" alt="rei">
            </div>
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput [(ngModel)]="producto.id" placeholder="Escribe la ID">
            </mat-form-field>
            <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.id }}</div> 

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="producto.nombre" placeholder="Escribe nombre">
            </mat-form-field>
            <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre_producto }}</div> 

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Departamento</mat-label>
                <input matInput [(ngModel)]="producto.departamento" placeholder="Escribe departamento">
            </mat-form-field>
            <div *ngIf="errors.descripcion" class="invalid-feedback">{{ errors.departamento }}</div> 

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput [(ngModel)]="producto.precio" mask='000.00' placeholder="Escribe precio">
            </mat-form-field>
            <div *ngIf="errors.precio" class="invalid-feedback">{{ errors.precio }}</div> 
            
            <div class="section-buttons">
                <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                <!-- <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button> -->
            </div>
        </div>
    </div>    
</div>
</section>